<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>468366178569-thm8a3rrbbvp3gedel2sv1s2g5rl2ih7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.468366178569-thm8a3rrbbvp3gedel2sv1s2g5rl2ih7</string>
	<key>API_KEY</key>
	<string>AIzaSyAkNlAMA-B_Is2SHn6RqsDShciJlZ0IHWo</string>
	<key>GCM_SENDER_ID</key>
	<string>468366178569</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.actorcura.TranslatorApp</string>
	<key>PROJECT_ID</key>
	<string>translatorapp-e70e5</string>
	<key>STORAGE_BUCKET</key>
	<string>translatorapp-e70e5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:468366178569:ios:36b3f29afb41c6c4</string>
	<key>DATABASE_URL</key>
	<string>https://translatorapp-e70e5.firebaseio.com</string>
</dict>
</plist>